@import 'tailwindcss';

@font-face {
    font-family: 'roboto';
    src: local('roboto'), url('/src/assets/fonts/Roboto.ttf');
}

@font-face {
    font-family: 'comfortaa';
    src: local('comfortaa'), url('/src/assets/fonts/Comfortaa.ttf');
}

@theme {
    --font-comfortaa: 'Comfortaa', 'sans-serif';
    --font-roboto: 'Roboto', 'sans-serif';

    --color-crimson: #F04770;
    --color-mediumseagreen: #06D79F;
    --color-goldenrod: #FFC53E;
}

.text-shadow-custom {
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7); /* Ajuste l'ombre comme tu veux */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom, #37caf7, #2a9dc7);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  position: relative;
  overflow: hidden;
  
}